.Grid-Div{
    width: 153vb;
   height: 80vb;

}
.header{
    color: rgb(255, 255, 255);
    font-size: x-large;
    font-weight: 600;
    padding: 15px;
    background-color:#5A5353;
    border-radius: 30px;
    height: 6vh;
    margin: 20px;

}

.Grid{
    margin: 20px;
    align-items: center;
    text-align: center;
    align-self: center;
    align-content: center;
}
.na{
    background-color: aliceblue;
}