.join-page{
    background-color: rgb(133, 0, 0);
    }
    .top-bar {
        display: flex;
        justify-content: space-between;
      }
      
    .video-call-icon{
       font-size: 10vb;
       margin-left: 2vb;
       margin-top: -1.5 vb;
      }
       
    .video-call-text {
         top: 15px;  
         margin-left: 10%;
        margin-top:15px; /* Add specific distance from top */
      }
       
      .home-option-buttons{
        font-size: 5vb;
        justify-content: space-evenly;
      }
        
    
        
    
      .help-circle{
        
        font-size: 5vb;
        margin-right: 4vb;
        margin-top: 1vb;
      }
      .settings-icon{
        font-size: 5vb;
        margin-right: 4vb;
        margin-top: 1vb;
    
      }
    
      .profile-icon{
        font-size: 5vb;
        margin-right: 4vb;
        margin-top: 1vb;
      }
      
      .image-n-joinbox{
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
      }
      
      
      /* App.css */
      
      .image {
        margin-top:  2.5% ;
        width: 25%; /* Adjust the percentage value as needed */
        height: auto; /* Maintain aspect ratio */
      }
      
      /* App.css */
      
      .group-box{
        margin-top: 30px;
        width: 70%;
        display: flex;
        justify-content: space-evenly;
      
      }
      .join-box{
        
        width: 25%;
        border-radius: 16px;
        /* margin-top: 3%; */
        background-color:#D9D9D9;
       align-items: center;
        justify-content: space-between; 
        /* margin-left: 330px; */
       padding: 6px;
       height: 5vb;
        display: flex; 
      
      }
      .join-text-field{
        background-color: transparent;
        height: 33px;
        width: 80%;
        font-size:20px;
        margin-left: 10px;
        border: none;
        outline: none;
      }
    
     .join-button{
      border-radius: 50px;
      background-color: rgba(0, 0, 0, 0.842);
      color: white;
      /* outline: 0vb; */
      /* border: 0cap; */
      width: 60px;
      height: 30px;
      /* margin-right: 2px; */
      font-size: medium;
      }
      .call-box {
        width: 25%; /* Adjust width if needed */
        border-radius: 16px;
        /* margin-top: 3%; */
        background-color: #D9D9D9;
        /* justify-content: space-between; */
        padding: 6px;
        height: 5vb; /* Change to vw for viewport width */
        display: flex;
        align-items: center;
        /* margin-right: 330px;  */
        /* margin-top:-6.5vb;Adjust margin-right to create space between join and call boxes */
      }
      .call-button{
        border-radius: 50px;
        background-color: rgba(0, 0, 0, 0.842);
        color: white;
        /* outline: 0vb; */
        /* border: 0cap; */
        width: 60px;
        height: 30px;
        /* margin-right: 2px; */
        font-size: medium;
        }