.message-area {
   width: 40vb;
   min-width: 20vb;
    height:90vb ;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 10px;
    align-items: center;
    position: relative;
    
}
.text-field {
    width: 90%;
    height: 40px;
    border: 2px solid black;
    border-radius: 10px;
    position: absolute;
    bottom: 3%;
    background-color: #ffffff;
    align-items: center;
    margin: 10px;
    display: flex;
}

.text-input {
    width: 70%;
    border: none;
    outline: none;
    border-color: transparent;
    font-size: 17px;
    background-color: #ffffff; 
    padding: 5px; 
}


.send-icon{
    color: white;
    background-color: rgb(112, 214, 255);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
    justify-content: center;
    align-items: center;
}