.message-area {
   width: 40vb;
   min-width: 20vb;
    height:90vb ;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 10px;
    align-items: center;
    position: relative;
    
}
.message-header  {
    font-size: 30px;
    font-weight: bold;
    margin-top: 0.5vb;
    margin-left: 10px;

}
.text-messages{
    width:280px; 
    height: 82%; 
    overflow: auto; 
    display:flex;
    flex-direction: column;
}
.text-messages::-webkit-scrollbar {
    width: 0; 
  }
.user-name{
    font-size:18px;
    margin-left: 5px;
    margin-bottom: 3px;

}
.user-message{
    width: 100px;
    font-size: 15px;
    margin-left: 5px;
    margin-top: 0px;

}
.user-message1{
    font-size:18px;
    margin-left: 220px;
    margin-bottom: 3px;

    
    
    
}
.user-name2{
    font-size:18px;
    margin-left: 5px;
    margin-bottom: 3px;
}
.user-message2{
    width: 100px;
    font-size: 15px;
    margin-left: 5px;
    margin-top: 0px;

}
.user-name3{
    font-size:18px;
    margin-left: 5px;
    margin-bottom: 3px;
}
.user-message3{
    width: 100px;
    font-size: 15px;
    margin-left: 5px;
    margin-top: 0px;


}
.user-name4{
    font-size:18px;
    margin-left: 5px;
    margin-bottom: 3px;
}
.user-message4{
    width: 100px;
    font-size: 15px;
    margin-left: 5px;
    margin-top: 0px;
}
.user-name5{
    font-size:18px;
    margin-left: 5px;
    margin-bottom: 3px;
}
.user-message5{
    width: 100px;
    font-size: 15px;
    margin-left: 5px;
    margin-top: 0px;

}
.user-name6{
    font-size:18px;
    margin-left: 5px;
    margin-bottom: 3px;
}
.user-message6{
    width: 100px;
    font-size: 15px;
    margin-left: 5px;
    margin-top: 0px;
}
.user-name7{
    font-size:18px;
    margin-left: 5px;
    margin-bottom: 3px;
}
.user-message7{
    width: 100px;
    font-size: 15px;
    margin-left: 5px;
    margin-top: 0px;
}
.user-name8{
    font-size:18px;
    margin-left: 5px;
    margin-bottom: 3px;
    
}
.user-message8{
    width: 100px;
    font-size: 15px;
    margin-left: 5px;
    margin-top: 0px;
}



        


 

.text-field {
    width: 90%;
    height: 40px;
    border: 2px solid black;
    border-radius: 10px;
    position: absolute;
    bottom: 3%;
    background-color: #ffffff;
    display:flex;
    margin: 10px;
}

.text-input {
    width: 80%;
    margin-left: 10px;
    border: none;
    outline: none;
    border-color: transparent;
    font-size: 17px;
    background-color: #ffffff; 


    
}


.send-icon{
    border-color: black;
    border-radius: 60%;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 25px;
    margin-top: 5px;
}
